version: '3.7'

services:

  user-db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - network
    volumes:
      - user-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h user-db"]
      interval: 10s
      timeout: 10s
      retries: 5

  eureka-server:
    image: eureka-server:latest
    build: ./eureka-server
    ports:
      - "8761:8761"
    networks:
      - network
    environment:
      - eureka.client.serviceUrl.defaultZone=${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://eureka-server:8761/actuator/health || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
  
  config-server:
    image: config-server:latest
    build: ./config-server
    ports:
      - "8888:8888"
    networks:
      - network
    depends_on:
      eureka-server: 
        condition: service_healthy
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurela-service:8761/eureka/
      - spring.cloud.config.server.git.uri=${SPRING_CLOUD_CONFIG_SERVER_GIT_URI}
      - spring.cloud.config.server.git.default-label=${SPRING_CLOUD_CONFIG_SERVER_GIT_DEFAULT_LABEL}
      - spring.cloud.config.server.git.username=${SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME}
      - spring.cloud.config.server.git.password=${SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD}
      - spring.cloud.config.server.git.clone-on-start=true
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://config-server:8888/actuator/health || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
      
  user-service:
    image: user-service:latest
    build: ./user-service
    ports:
      - "8081:8081"
    networks:
      - network
    depends_on:
      config-server: 
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      user-db:
        condition: service_healthy
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurela-service:8761/eureka/
      - spring.config.import=optional:configserver:http://config-server:8888

  email-service:
    image: email-service:latest
    build: ./email-service
    ports:
      - "8082:8082"
    networks:
      - network
    depends_on:
      config-server: 
        condition: service_healthy
      eureka-server:
        condition: service_healthy
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurela-service:8761/eureka/
      - spring.config.import=optional:configserver:http://config-server:8888

networks:
  network:
    driver: bridge

volumes:
  user-db-data:
